.section {
    margin: 0 auto;
}

.section img {
    max-width: 100%;
}

.container {
    margin-bottom: 50px;
}

/* Continue button */
#show-div {
    text-align: left;
    display: block;
    margin-bottom: 100px;
}

/* Scroll indicator */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
#myBar {
    height: 8px;
    background: #19a7ff;
    width: 0%;
}

/* Navigation bar */
.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 50px;
}
